<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<div class="container">
    <h2 th:text="Central Bank"></h2>
    <form action="/authenticate" method="post">
        <div class="input-field">
            <input type="text" id="publicKey" name="publicKey" class="validate">
            <label for="publicKey">Public Key</label>
        </div>
        <div class="input-field">
            <input type="text" id="privateKey" name="privateKey" class="validate">
            <label for="privateKey">Private Key</label>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Login
        </button>
        <div th:if="${error}" class="card-panel red white-text" th:text="${error}"></div>
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>